.style{
    margin-left: 40%;
}

.container{
    margin-left: 30%;
    margin-top: 5%;
    background-color: rgb(164, 180, 209);

}
.form-box-4{
    margin-left: 35%;
}
.text-white{
     -webkit-text-fill-color: black;   
   -moz-text-size-adjust: initial;
}